.footer {
  background-color: var(--color-main);
  padding: 40px 0;
}
.footer__link {
  width: 30px;
  height: 30px;
  display: block;
  margin-left: auto;
}
.footer__icon {
  width: 30px;
  height: 30px;
  fill: var(--color-background);
}
