.tests {
  background-color: var(--color-main);
  padding: 65px 0 15px 0;
  &--motivation {
    padding: 15px 0 35px 0;
  }
}
.tests__list {
}
.tests__item {
  margin-bottom: 30px;
  background-color: var(--color-background);
  border-radius: 14px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: calc(100vw - 56px);
  &:last-child {
    margin-bottom: 0;
  }
  &:hover .tests__icon {
    transform: rotate(-90deg);
  }
}
.tests__content {
  display: flex;
  align-items: center;
  padding: 22px 27px 22px 27px;
  position: relative;
}
.tests__background {
  height: 160px;
  border-radius: 14px 14px 0 0;
  position: relative;
  &--first {
    background-image: url(../images/nevergiveup.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 424px 160px;
  }
  &--second {
    background-image: url(../images/nevergiveup.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 424px 160px;
  }
  &--third {
    background-image: url(../images/nevergiveup.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 424px 160px;
  }
}
.tests__background-list {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.tests__background-item {
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}
.tests__background-link {
  display: block;
  border-radius: 10px;
  padding: 4px 8px;
  color: var(--color-background);
  &--motivation {
    background-color: rgb(224, 145, 0);
  }
  &--work-hard {
    background-color: rgb(146, 0, 224);
  }
}
.tests__text {
  max-width: 144px;
  margin-right: auto;
}
.tests__paragraph {
  margin-bottom: 8px;
  color: rgba(21, 37, 80, 0.6);
  transition: color 0.3s;
  &:first-child {
    font-size: 16px;
    color: var(--color-text);
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.tests__icon {
  transform: rotate(270deg);
  fill: var(--color-main);
  width: 25px;
  height: 25px;
  transition: transform 0.3s;
}
