html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.1666;
  color: var(color-text);
}

h1,
h2,
h3,
p,
ul,
html {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  max-width: calc(100vw - 24px);
  margin: 0 auto;
  padding: 0 15px;
}
.container__hero {
  max-width: calc(100vw - 80px);
  margin: 0 auto;
  padding: 0 15px;
}
